.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.npmrc
.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
/mod.ts
/import_map.json
build/
build-*/
cc-test-reporter
coverage/
node_modules/
npm-debug.log*
tmp/
tsconfig.*buildinfo
yarn-debug.log*
yarn-error.log*
