language: node_js
node_js:
  - "10"
cache:
  yarn: true
  directories:
    - node_modules
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
script:
  - ./packages/dev/scripts/polkadot-dev-travis-build.sh
deploy:
  skip_cleanup: true
  provider: script
  script: ./packages/dev/scripts/polkadot-dev-travis-deploy.sh
  on:
    branch: master
